
body {
  font-family: sans-serif;
  background: #fff;
  color: #000;
  margin: 0;
  padding: 20px;
}

.icon {
  width: 40px;
  height: 40px;
  display: block;
  margin-bottom: 10px;
  stroke: #4b1c1c;
}

/* Personalizzazione elegante Tawk.to */
.tawk-min-container {
  bottom: 50% !important;            /* metà schermo */
  right: 30px !important;            /* distanza dal lato destro */
  transform: translateY(50%) scale(1.4); /* centrato verticalmente e ingrandito */
  transform-origin: center right;
  z-index: 9999 !important;
}
